<tr>
	<td valign='top'><a class='urllink' href='__SETUP_LINK__'>__PRODUCT_NAME__</a></td>
	<td valign='top'>__DATE__</td>
	<td valign='top'>__PRODUCT_VERSION__</td>
	<td valign='top'><a href='__LOG__' target='_blank' class='urllink'>Log de génération</a></td>
</tr>
